.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  /*Flutter flashback: the elements at the 
  end will stay on the end regardless of size */
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width: 150px;
}

.middle-section {
  background-color: lightpink;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  /* Sets a max width so the flex doesn't get too big */
  max-width: 500px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}